
header
  position absolute
  width 100%
  height 100px
  z-index 9
  background-color: rgba(38,50,56,0.3)

.header-content
  width 100%
  height 100%
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  justify-content space-between
  .header-logo
    width 60%
    text-align center
    h1
      color #ffff00
      font-size 28px
      margin-top 34px
      margin-left 20px
      text-align justify
      font-family 'Great Vibes', cursive
      width 100%
  .header-menu--burger
    width 40%

.icon-menu--content
	width 25px
	height 18px
	cursor pointer
	outline none
	margin 41px 40px 0 auto
	display block

.icon-menu
	display inline-block
	margin-top 0
	outline none
	small
		display block
		border-radius 3em
		width 24px
		height 4px
		margin 0 0 3px 0
		background-color #ffff00
		transition all .3s ease-in-out
	&:hover
		outline none

.icon-menu--active
	small:nth-child(1)
		transform rotate(45deg) translateY(6px) translateX(4.5px)
		width 24px
		height 5px
		background-color #DA5555
	small:nth-child(2)
		width 0
		height 0
	small:nth-child(3)
		transform rotate(-45deg) translateY(-1px)		
		background-color #DA5555		
		width 24px
		height 5px

.overlay-menu
	position fixed
	top 0
	left 0
	width 100%
	height 100vh
	background-color rgba(0,0,0,0.85)
	z-index 7
	display none

nav.menu-options
	position absolute
	width 100%
	height auto
	top 50%
	margin-top -25%
	margin-left 0.1px
	ul
		padding 0
		margin 0
		text-align center
		li
			list-style none
			height 45px
			line-height 45px
			transition all 0.3s ease-in-out
			a
				display block
				width 100%
				height 100%
				text-decoration none
				color #ffff00
				font-size 23px
				font-weight 600
				text-transform uppercase
				transition all 0.3s ease-in-out
				&:hover
					transform scale(1.2)

.overlay
  display none

.slide-titulo
   //font-family 'Baloo Bhai', cursive
   font-family 'Great Vibes', cursive
   color #ffff00

.ofertas
  background-color #fff
  width 100%
  height 550px
  padding 55px 0
  position relative

.ofertas-content
  position absolute
  top -40px
  left 50%
  transform translateX(-50%)
  width 70%
  height 300px
	background-color #fff
	box-shadow 0 0 10px 5px rgba(0,0,0,0.2)
	padding 30px 40px
	h2
		color #293D47
		font-family "Arial Rounded MT Bold", sans-serif
		text-transform uppercase


